<div class="bg-light p-3 mt-3 rounded-3">
    <h6>Filter results by</h6>
    <div class="form-check">
        <input class="form-check-input filter" type="checkbox" value="" id="openprcheck">
        <label class="form-check-label" for="openprcheck">
            Has open PR
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input filter" type="checkbox" value="" id="newreleasecheck">
        <label class="form-check-label" for="newreleasecheck">
            Has new upstream release
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input filter" type="checkbox" value="" id="inpipelinecheck">
        <label class="form-check-label" for="inpipelinecheck">
            In pipeline (prod version != GF version)
        </label>
    </div>
</div>