<div class="card">
    <div class="card-header">
        <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#{{font.html_id}}_fontinfocard">
            <span class="material-symbols-outlined"></span>
            Font Information
        </button>
    </div>
    <div class="card-body collapse show" id="{{font.html_id}}_fontinfocard">
        <table class="table">
            <tr>
                <th>Designer</th>
                <td>{{font.metadata.designer}}</td>
            </tr>
            <tr>
                <th>Subsets</th>
                <td>{{font.metadata.subsets | join(", ")}}</td>
            </tr>
            <tr>
                <th>Codepoints</th>
                <td>{{font.codepoints}}</td>
            </tr>
            <tr>
                <th>First seen</th>
                <td>{{font.metadata.date_added}}</td>
            </tr>
            <tr>
                <th>Last updated</th>
                <td>{{font.recent_commits[0]["committedDate"].strftime("%Y-%m-%d") }} ({{font.recent_commits[0]["committedDate"] |ago}} ago)</td>
        </table>
    </div>
</div>