<div id="{{font.html_id}}" class="afont">
    <h2 class="mb-4 mt-4"> {{ font.metadata.name }}
        <a href="https://fonts.google.com/specimen/{{font.metadata.name | urlencode}}"><span class="material-symbols-outlined">link</span></a>
        <span class="version-badges">
            {% for badge in font.version_badges %}
            {{badge |safe}}
            {% endfor %}
        </span>
    </h2>
    {% include 'fontinfo.html' %}
    {% if font.github_owner_repo %}
    {% include 'upstream.html' %}
    {% endif %}
    {% include 'gfrepo.html' %}
    {% include 'fontbakery.html' %}
</div>